@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
}